<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>


  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div class="container-fluid">
    <div class="row">
    <pre>Kodemon</pre>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 col-xs-3">
          <div ng-controller='MenuCtrl'>
            <ul class="nav nav-pills nav-stacked" role="tablist" >
             <li role="presentation" ng-repeat="item in navItems" class="{{item.classes}}"><a ng-click="setKey(item.key)">{{item.key}}</a></li>
            </ul>
          </div>
        </div>
      <div class="col-md-8 col-xs-9">
        <form name="dateFilter" ng-controller="FilterCtrl" class="form-inline" role="form">
          <div class="form-group">
            <label for="dateFrom">From: </label>
            <input 
              type="datetime-local" 
              class="form-control"
              id="dateFrom" 
              name="dateFrom" 
              ng-model="data.dateFrom"
              placeholder="yyyy-MM-ddTHH:mm:ss" 
              required />
          </div>
          <div class="form-group">
            <label for="dateTo">To: </label>
            <input 
              type="datetime-local" 
              class="form-control"
              id="dateTo" 
              name="dateTo" 
              ng-model="data.dateTo"
              placeholder="yyyy-MM-ddTHH:mm:ss" 
              required />
          </div>
          <div class="form-group">
            <button 
              type="button" 
              class="btn btn-primary" 
              ng-click="filter()">
              Filter
            </button>
          </div>
        </form>
        <tabset>
          <tab heading="Graph">
            <h1>Graph</h1>
          </tab>
          <tab heading="Table">
            <div ng-controller='TableCtrl'>
              <h1>{{data.key}}</h1>
              <pagination 
                direction-links="false" 
                boundary-links="true" 
                total-items="data.totalMessages" 
                items-per-page="data.messagesTake" 
                max-size="maxSize"
                ng-change="pageChanged()"
                num-pages="numPages"
                ng-model="data.currentPage">
              </pagination>
              <table class="table table-condensed">
                <thead>
                  <tr>
                    <th>Token</th>
                    <th>Execution time</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="message in data.messages">
                    <td>{{message.token}}</td>
                    <td>{{message.execution_time}}</td>
                    <td>{{message.timestamp.split('T')[0]}}</td>
                    <td>{{message.timestamp.split('T')[1].slice(0,-5)}}</td>
                    <td>{{message.timestamp.replace('T', ' ').slice(0,-5)}}
                  </tr>
                </tbody>
              </table>
            </div>
          </tab>
        </tabset>
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="app.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
